.n-product .n-detail h1 {
  font-size: 24px; }

.n-product .n-detail h2 {
  font-size: 18px; }

.n-product .n-detail .n-oke .num .p, .n-content-product .more-detail-tabs .area h3, .n-content-product .recomment-nav .area h3, .in-result .more-detail-tabs .area h3, .in-result .recomment-nav .area h3, .session-items .head h3, .in-result .lucky-panel .luck-red .pull-right .lucky-number {
  font-size: 16px; }

.n-product .n-detail .n-oke .luck h4 {
  font-size: 14px; }

.session-items .content .p-item h5 {
  font-size: 13px; }

.n-product .n-detail p, .n-product .n-detail .n-oke .win {
  font-size: 13px; }

.p-item, .c-item {
  display: block;
  height: 100%;
  border: #e8e8e8 solid 1px; }
  .p-item:hover, .c-item:hover {
    border: red solid 1px; }

.p-item .p-bar span, .n-product .n-detail .p-bar span, .n-content-product .nc-navs ul li .p-bar span, .in-result .nc-navs ul li .p-bar span, .n-content-product .more-detail-tabs .area .rating .rating-percent span, .n-content-product .recomment-nav .area .rating .rating-percent span, .in-result .more-detail-tabs .area .rating .rating-percent span, .in-result .recomment-nav .area .rating .rating-percent span {
  -webkit-transition: width 2s;
  /* Safari */
  transition: width 2s; }

.p-item .p-bar, .n-product .n-detail .p-bar, .n-content-product .nc-navs ul li .p-bar, .in-result .nc-navs ul li .p-bar {
  position: relative;
  width: 100%;
  background: #eee;
  height: 6px;
  border-radius: 6px; }
  .p-item .p-bar span, .n-product .n-detail .p-bar span, .n-content-product .nc-navs ul li .p-bar span, .in-result .nc-navs ul li .p-bar span {
    position: absolute;
    width: 100%;
    background: #ff4500;
    height: 6px;
    border-radius: 6px; }

.item-collections, .counting-down {
  padding-left: 20px;
  padding-right: 20px; }

.banner-category {
  width: 242px;
  height: 372px; }

.session-items .content .p-item {
  height: 372px; }

.top-items, .category-collections {
  width: calc(100% - 242px); }

.nav-collections {
  padding-left: 5px;
  padding-right: 5px; }
  .nav-collections .nav-container {
    border: 1px #eee solid;
    margin: 10px 0; }
    .nav-collections .nav-container .row {
      margin-left: 0;
      margin-right: 0; }
  .nav-collections .nav-list-item {
    float: left;
    padding: 60px 0 20px;
    font-size: 13px;
    position: relative;
    text-align: center;
    width: 11%;
    border-left: 1px #eee solid; }
    .nav-collections .nav-list-item i {
      font-size: 28px;
      color: #777; }

.p-item {
  padding-top: 3px;
  padding-bottom: 3px; }
  .p-item img[src] {
    max-width: 100%; }
  .p-item .p-persons {
    height: 40px; }
    .p-item .p-persons p {
      height: 100%;
      width: 50%; }
  .p-item .p-btns span {
    padding-left: 5px; }

.c-item {
  padding: 12px; }
  .c-item h5 {
    font-size: 14px; }
  .c-item .c-detail {
    position: relative; }
  .c-item .c-detail-left {
    width: 100%;
    padding-right: 144px; }
  .c-item a.img {
    position: absolute;
    width: 120px;
    height: 120px;
    border: 1px #fff dashed;
    border-radius: 0;
    right: 12px;
    bottom: 12px; }
    .c-item a.img img[src] {
      width: 100%; }
  .c-item .timer-down {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    line-height: 22px;
    padding: 0 10px;
    border: 1px #f40 dashed;
    color: #f40; }
    .c-item .timer-down.expred {
      color: #999; }
  .c-item .waiting-sta {
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    line-height: 22px;
    padding: 0 10px;
    border: 1px #FFD16F solid;
    background: #FFD16F;
    border-radius: 4px;
    color: #fff; }

.n-product .n-picture, .n-product .n-detail {
  height: 100%; }

@media screen and (max-width: 768px) {
  .n-product .n-picture, .n-product .n-detail {
    min-height: 0;
    height: auto; } }
.history-nav {
  height: 100%;
  padding-bottom: 1px; }
  .history-nav ul {
    list-style: none;
    margin: 0;
    padding-left: 0; }
  .history-nav li {
    float: left;
    height: 38px;
    padding: 6px 12px;
    border-left: #e8e8e8 1px solid;
    border-bottom: #e8e8e8 1px solid; }
    .history-nav li a {
      color: #000;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      line-height: 26px;
      min-width: 46px;
      width: 100%; }
    .history-nav li:last-child {
      border-right: #e8e8e8 1px solid; }
    .history-nav li.actived {
      background: #ff4500; }
      .history-nav li.actived a {
        color: #fff; }

.n-product {
  margin-bottom: 20px;
  border-bottom: #e8e8e8 1px solid; }
  .n-product .n-picture {
    border: #e8e8e8 1px solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0; }
    .n-product .n-picture .viewing {
      height: 300px;
      width: 100%;
      text-align: center; }
      .n-product .n-picture .viewing img[src] {
        height: 100%;
        max-width: 100%;
        vertical-align: middle;
        margin: auto; }
  .n-product .colorandpic {
    position: relative;
    display: block;
    padding: 0 15px;
    margin: 15px 0 0 0;
    text-align: center; }
    .n-product .colorandpic li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      overflow: hidden; }
      .n-product .colorandpic li:hover div {
        border: #999 1px solid; }
      .n-product .colorandpic li.selected div {
        border: #f90 1px solid; }
      .n-product .colorandpic li div {
        display: block;
        width: 46px;
        height: 46px;
        padding: 3px;
        border: #e8e8e8 1px solid;
        border-radius: 4px; }
        .n-product .colorandpic li div img[src] {
          width: 100%;
          height: 100%; }
  .n-product .n-detail {
    border: #e8e8e8 1px solid;
    border-bottom-width: 0; }
    .n-product .n-detail h1 {
      text-transform: uppercase; }
    .n-product .n-detail h2 {
      font-weight: 400; }
    .n-product .n-detail .p-bar {
      height: 10px;
      border-radius: 10px; }
      .n-product .n-detail .p-bar span {
        height: 10px;
        border-radius: 10px; }
    .n-product .n-detail .person {
      text-align: center; }
      .n-product .n-detail .person p {
        display: inline-block;
        line-height: 1.5; }
      .n-product .n-detail .person .p1 span {
        color: #ff4500; }
      .n-product .n-detail .person .p3 span {
        color: #06c; }
    .n-product .n-detail .snum {
      padding-top: 12px;
      margin-bottom: 12px; }
      .n-product .n-detail .snum span {
        line-height: 26px; }
      .n-product .n-detail .snum .spinner {
        float: left;
        padding-left: 12px;
        padding-right: 12px; }
        .n-product .n-detail .snum .spinner input {
          float: left;
          text-align: center;
          max-width: 80px;
          height: 26px;
          border-radius: 0; }
        .n-product .n-detail .snum .spinner button {
          float: left;
          background: #f8f8f8;
          border: 1px #ddd solid;
          height: 26px;
          width: 30px;
          outline: none;
          font-size: 14px;
          font-weight: bold;
          color: #666; }
          .n-product .n-detail .snum .spinner button.decrease {
            border-right: 0; }
          .n-product .n-detail .snum .spinner button.increase {
            border-left: 0; }
      .n-product .n-detail .snum .fast-select {
        float: left; }
        .n-product .n-detail .snum .fast-select a {
          float: left;
          display: inline;
          width: 56px;
          color: #000;
          height: 26px;
          line-height: 26px;
          border: 1px #ddd solid;
          text-align: center;
          margin: 0 10px 0 0;
          position: relative;
          text-decoration: none; }
          .n-product .n-detail .snum .fast-select a:hover {
            border: #ff4500 1px solid;
            color: #ff4500;
            text-decoration: none; }
          .n-product .n-detail .snum .fast-select a.selected {
            border: #ff4500 2px solid; }
            .n-product .n-detail .snum .fast-select a.selected::after {
              position: absolute;
              width: 10px;
              height: 8px;
              background: url("../image/1234.png") no-repeat -187px -42px;
              right: 0;
              bottom: 0;
              content: ""; }
    .n-product .n-detail .n-btns {
      padding: 15px; }
      .n-product .n-detail .n-btns .btn {
        padding: 8px 26px;
        font-size: 16px;
        margin: 3px 6px 3px 6px;
        border-radius: 70px;
        width: 180px;
        outline: none;
        background: #fff;
        border-color: #7fd611;
        border-width: 2px; }
        .n-product .n-detail .n-btns .btn:hover {
          color: #fff;
          background: #ff4500;
          border-color: #ff4500; }
    .n-product .n-detail .brands {
      padding-bottom: 15px; }
      .n-product .n-detail .brands span {
        padding: 0 10px; }
    .n-product .n-detail .guize ol {
      padding-left: 25px; }
    .n-product .n-detail .c-dao {
      border: 1px #E4B9B9 dashed;
      background: #fffff0;
      padding: 15px 15px 0;
      border-radius: 5px;
      position: relative; }
      .n-product .n-detail .c-dao .desc {
        padding: 0 0 0 5px;
        color: #d80; }
      .n-product .n-detail .c-dao .timer {
        font-size: 50px;
        line-height: 1;
        color: #DB3652;
        font-weight: bold;
        font-family: "microsoft yahei"; }
    .n-product .n-detail .gongsi {
      border: 1px #ddd dashed;
      margin: 15px 0;
      background: #fff;
      border-radius: 5px;
      padding: 5px 10px 15px 10px; }
      .n-product .n-detail .gongsi .n-title b {
        color: #99cc66; }
      .n-product .n-detail .gongsi .n-w {
        padding-left: 0;
        list-style: none;
        font-size: 12px;
        text-align: left; }
        .n-product .n-detail .gongsi .n-w .fh {
          font-weight: bold;
          margin: 14px 4px 0 4px; }
        .n-product .n-detail .gongsi .n-w .x {
          border: 1px #ddd solid;
          border-radius: 10px;
          text-align: center;
          line-height: 16px;
          padding: 6px; }
      .n-product .n-detail .gongsi li {
        height: 43px;
        display: inline-block; }
        .n-product .n-detail .gongsi li span {
          color: #DB3652; }
    .n-product .n-detail .n-oke {
      border: #ff4500 solid 1px;
      position: relative;
      border-radius: 6px;
      overflow: hidden; }
      .n-product .n-detail .n-oke table {
        width: 100%; }
      .n-product .n-detail .n-oke td {
        padding: 15px;
        vertical-align: top; }
        .n-product .n-detail .n-oke td:first-child {
          width: 65%; }
        .n-product .n-detail .n-oke td:last-child {
          width: 35%; }
      .n-product .n-detail .n-oke .num {
        margin: 25px 0 0;
        padding-left: 12px;
        float: right;
        width: 100%;
        text-align: right;
        border-left: 1px #ddd solid; }
        .n-product .n-detail .n-oke .num .p2 {
          font-size: 38px;
          line-height: 42px;
          color: #ff4500;
          font-weight: bold; }
      .n-product .n-detail .n-oke .luck {
        position: relative; }
        .n-product .n-detail .n-oke .luck > div {
          padding: 10px; }
        .n-product .n-detail .n-oke .luck .bg {
          border-radius: 10px;
          border: #e8e8e8 solid 1px; }
        .n-product .n-detail .n-oke .luck .user {
          padding: 10px;
          height: 100px;
          width: 100px;
          float: left; }
          .n-product .n-detail .n-oke .luck .user .head {
            float: left;
            width: 80px;
            height: 80px; }
            .n-product .n-detail .n-oke .luck .user .head img[src] {
              float: left;
              width: 80px;
              height: 80px;
              border-radius: 100px; }
        .n-product .n-detail .n-oke .luck .btn {
          background: #e6e6e6; }
      .n-product .n-detail .n-oke .win {
        position: absolute;
        background: #ff4500;
        color: #fff;
        top: 25px;
        width: 160px;
        left: -45px;
        text-align: center;
        text-transform: uppercase;
        padding-top: 4px;
        padding-bottom: 4px;
        -ms-transform: rotate(-45deg);
        /* IE 9 */
        -webkit-transform: rotate(-45deg);
        /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
        text-align: center; }

.n-content-product .nc-navs, .in-result .nc-navs {
  padding-left: 0;
  padding-right: 0;
  border-radius: 0; }
  .n-content-product .nc-navs > .nc-title, .in-result .nc-navs > .nc-title {
    line-height: 37px;
    border-bottom: #e8e8e8 1px solid;
    text-indent: 12px; }
  .n-content-product .nc-navs ul, .in-result .nc-navs ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0; }
    .n-content-product .nc-navs ul li, .in-result .nc-navs ul li {
      padding: 12px;
      height: 94px;
      border-bottom: #e8e8e8 1px solid; }
      .n-content-product .nc-navs ul li:last-child, .in-result .nc-navs ul li:last-child {
        border-bottom: none; }
      .n-content-product .nc-navs ul li .img, .in-result .nc-navs ul li .img {
        float: left;
        width: 70px;
        height: 70px; }
        .n-content-product .nc-navs ul li .img img[src], .in-result .nc-navs ul li .img img[src] {
          width: 100%;
          height: 100%; }
      .n-content-product .nc-navs ul li .desc, .in-result .nc-navs ul li .desc {
        font-size: 13px;
        float: left;
        width: calc(100% - 80px);
        margin: 0 0 0 10px; }
        .n-content-product .nc-navs ul li .desc .nc-title a, .in-result .nc-navs ul li .desc .nc-title a {
          color: #000; }
          .n-content-product .nc-navs ul li .desc .nc-title a:hover, .in-result .nc-navs ul li .desc .nc-title a:hover {
            color: #ff4500; }
      .n-content-product .nc-navs ul li .p-bar, .in-result .nc-navs ul li .p-bar {
        height: 10px;
        border-radius: 10px; }
        .n-content-product .nc-navs ul li .p-bar span, .in-result .nc-navs ul li .p-bar span {
          height: 10px;
          border-radius: 10px; }
      .n-content-product .nc-navs ul li .nc-la span, .in-result .nc-navs ul li .nc-la span {
        color: #06c; }
.n-content-product .more-detail-tabs .area, .n-content-product .recomment-nav .area, .in-result .more-detail-tabs .area, .in-result .recomment-nav .area {
  border: #e8e8e8 solid 1px;
  margin-bottom: 15px; }
  .n-content-product .more-detail-tabs .area .header, .n-content-product .recomment-nav .area .header, .in-result .more-detail-tabs .area .header, .in-result .recomment-nav .area .header {
    border-bottom: #ff4500 solid 2px;
    padding: 15px;
    box-shadow: -1px -2px 2px #888888; }
  .n-content-product .more-detail-tabs .area .content, .n-content-product .recomment-nav .area .content, .in-result .more-detail-tabs .area .content, .in-result .recomment-nav .area .content {
    padding: 15px; }
  .n-content-product .more-detail-tabs .area h3, .n-content-product .recomment-nav .area h3, .in-result .more-detail-tabs .area h3, .in-result .recomment-nav .area h3 {
    text-transform: uppercase;
    margin: 0; }
  .n-content-product .more-detail-tabs .area ul, .n-content-product .recomment-nav .area ul, .in-result .more-detail-tabs .area ul, .in-result .recomment-nav .area ul {
    list-style: none;
    padding-left: 0; }
    .n-content-product .more-detail-tabs .area ul li::before, .n-content-product .recomment-nav .area ul li::before, .in-result .more-detail-tabs .area ul li::before, .in-result .recomment-nav .area ul li::before {
      content: '-';
      padding-right: 7px; }
  .n-content-product .more-detail-tabs .area img[src], .n-content-product .recomment-nav .area img[src], .in-result .more-detail-tabs .area img[src], .in-result .recomment-nav .area img[src] {
    max-width: 80%;
    height: auto; }
  .n-content-product .more-detail-tabs .area .img, .n-content-product .recomment-nav .area .img, .in-result .more-detail-tabs .area .img, .in-result .recomment-nav .area .img {
    text-align: center; }
  .n-content-product .more-detail-tabs .area .map, .n-content-product .recomment-nav .area .map, .in-result .more-detail-tabs .area .map, .in-result .recomment-nav .area .map {
    margin-bottom: 15px; }
  .n-content-product .more-detail-tabs .area .rating, .n-content-product .recomment-nav .area .rating, .in-result .more-detail-tabs .area .rating, .in-result .recomment-nav .area .rating {
    width: 100%; }
    .n-content-product .more-detail-tabs .area .rating td, .n-content-product .recomment-nav .area .rating td, .in-result .more-detail-tabs .area .rating td, .in-result .recomment-nav .area .rating td {
      padding: 3px 5px; }
    .n-content-product .more-detail-tabs .area .rating .rating-lable, .n-content-product .recomment-nav .area .rating .rating-lable, .in-result .more-detail-tabs .area .rating .rating-lable, .in-result .recomment-nav .area .rating .rating-lable {
      text-align: right;
      width: 25%; }
    .n-content-product .more-detail-tabs .area .rating .rating-percent span, .n-content-product .recomment-nav .area .rating .rating-percent span, .in-result .more-detail-tabs .area .rating .rating-percent span, .in-result .recomment-nav .area .rating .rating-percent span {
      height: 100%;
      display: block;
      width: 0;
      background: #fdc103; }
    .n-content-product .more-detail-tabs .area .rating .rating-count, .n-content-product .recomment-nav .area .rating .rating-count, .in-result .more-detail-tabs .area .rating .rating-count, .in-result .recomment-nav .area .rating .rating-count {
      text-align: right;
      width: 10%; }
.n-content-product .more-detail-tabs .nav-tabs, .n-content-product .recomment-nav .nav-tabs, .in-result .more-detail-tabs .nav-tabs, .in-result .recomment-nav .nav-tabs {
  padding-bottom: 10px;
  border-bottom: #ff4500 solid 1px; }
  .n-content-product .more-detail-tabs .nav-tabs li, .n-content-product .recomment-nav .nav-tabs li, .in-result .more-detail-tabs .nav-tabs li, .in-result .recomment-nav .nav-tabs li {
    width: 33.33%;
    text-align: center; }
    .n-content-product .more-detail-tabs .nav-tabs li a, .n-content-product .recomment-nav .nav-tabs li a, .in-result .more-detail-tabs .nav-tabs li a, .in-result .recomment-nav .nav-tabs li a {
      border-radius: 0; }
.n-content-product .more-detail-tabs .tab-content img[src], .n-content-product .recomment-nav .tab-content img[src], .in-result .more-detail-tabs .tab-content img[src], .in-result .recomment-nav .tab-content img[src] {
  max-width: 100%; }
.n-content-product .recomment-nav .area .content, .in-result .recomment-nav .area .content {
  padding: 0; }
.n-content-product .recomment-nav .area .recomment li::before, .in-result .recomment-nav .area .recomment li::before {
  content: '';
  display: none; }

.n-product .n-picture {
  float: left;
  vertical-align: top;
  width: 400px; }
.n-product .n-detail {
  vertical-align: top;
  width: calc(100% - 400px); }

.n-content-product .recomment-nav {
  width: 400px;
  float: left; }
.n-content-product .more-detail-tabs {
  width: calc(100% - 400px);
  float: left;
  padding-left: 0; }

@media screen and (max-width: 992px) {
  .n-product .n-picture {
    width: 320px; }
  .n-product .n-detail {
    width: calc(100% - 320px); }
    .n-product .n-detail .snum .spinner input {
      max-width: 45px; }
    .n-product .n-detail .snum .fast-select a {
      width: 45px; }
    .n-product .n-detail .n-btns .btn {
      width: calc((100% - 30px) / 2); }
    .n-product .n-detail .gongsi .n-w {
      text-align: right; }

  .n-content-product .recomment-nav {
    width: 320px; }
  .n-content-product .more-detail-tabs {
    width: calc(100% - 320px); } }
@media screen and (max-width: 768px) {
  .n-product .n-picture {
    width: 100%; }
  .n-product .n-detail {
    width: 100%;
    border-left-width: 0; }

  .n-content-product .recomment-nav {
    width: 100%; }
  .n-content-product .more-detail-tabs {
    width: 100%;
    padding-left: 0;
    padding-right: 0; } }
.colllections-container {
  position: relative;
  margin-bottom: 15px; }

.session-items .head {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  border-bottom: #e8e8e8 solid 1px; }
  .session-items .head h3 {
    position: relative;
    text-transform: uppercase;
    float: left;
    padding: 8px 16px;
    margin: 0;
    background: #ff4500;
    color: #fff; }
    .session-items .head h3::after {
      content: "\f04b";
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      position: absolute;
      left: 50%;
      bottom: -10px;
      color: #ff4500;
      -ms-transform: rotate(90deg);
      /* IE 9 */
      -webkit-transform: rotate(90deg);
      /* Chrome, Safari, Opera */
      transform: rotate(90deg); }
  .session-items .head .btns {
    float: right;
    height: 33px; }
    .session-items .head .btns .nav-btn {
      display: inline-block;
      height: 100%;
      line-height: 32px;
      border: #e8e8e8 solid 1px;
      border-left-width: 0;
      border-bottom: none;
      padding-left: 8px;
      padding-right: 8px;
      float: left; }
      .session-items .head .btns .nav-btn[disabled=true] {
        color: #333;
        cursor: default; }
      .session-items .head .btns .nav-btn:first-child {
        border-left-width: 1px; }
      .session-items .head .btns .nav-btn i {
        font-size: 20px; }
.session-items .content {
  display: block;
  width: 100%; }
  .session-items .content .p-item {
    padding: 15px; }
    .session-items .content .p-item h5 {
      height: 28px;
      font-weight: 400; }
    .session-items .content .p-item .img-item {
      display: block;
      margin: auto;
      text-align: center; }
      .session-items .content .p-item .img-item a {
        height: 160px;
        display: inline-block; }
        .session-items .content .p-item .img-item a img[src] {
          height: 100%; }
    .session-items .content .p-item .p-persons .pull-right {
      text-align: right; }
    .session-items .content .p-item .p-btns .btn {
      float: left;
      background: #ff4500;
      border-radius: 0;
      color: #fff; }
    .session-items .content .p-item .p-btns a {
      float: left;
      display: inline-block;
      margin-left: 15px;
      color: #ff4500; }
      .session-items .content .p-item .p-btns a i {
        line-height: 34px;
        font-size: 24px; }

.top-items {
  float: left; }

.category-collections {
  float: right; }

.lc-customers {
  width: 227px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: #e8e8e8 solid 1px; }
  .lc-customers .head {
    border-bottom: #e8e8e8 solid 1px; }
    .lc-customers .head h3 {
      font-size: 14px;
      padding: 8px 16px;
      height: 33px;
      margin: 0; }
  .lc-customers ul {
    list-style: none;
    padding-left: 0; }
  .lc-customers li {
    padding: 15px; }
    .lc-customers li:nth-child(even) {
      background: #fff; }
    .lc-customers li:nth-child(odd) {
      background: #ccc; }
    .lc-customers li .img, .lc-customers li .info {
      display: block;
      float: left; }
    .lc-customers li .info {
      padding-left: 10px;
      padding-right: 10px; }
    .lc-customers li img[src] {
      width: 54px;
      height: 54px; }
    .lc-customers li .name {
      display: block; }
    .lc-customers li .ontime {
      display: block; }

.banner-category img[src] {
  width: 100%;
  height: 100%; }

.in-result .lucky-panel td {
  padding-left: 0;
  padding-right: 0; }
.in-result .lucky-panel .luck-red {
  background: #ff4500;
  color: #fff;
  padding: 15px; }
  .in-result .lucky-panel .luck-red .pull-left {
    width: 150px; }
  .in-result .lucky-panel .luck-red .pull-right {
    width: calc(100% - 150px);
    padding-left: 20px; }
    .in-result .lucky-panel .luck-red .pull-right p {
      list-style: decimal outside none;
      display: list-item; }
    .in-result .lucky-panel .luck-red .pull-right .nm {
      display: inline-block;
      background: yellow;
      margin-left: 1px;
      margin-right: 1px;
      width: 1.42857143em;
      text-align: center;
      border-radius: calc(1.42857143em /2);
      color: #ff4500; }
    .in-result .lucky-panel .luck-red .pull-right .nw {
      display: inline-block;
      background: #fff;
      width: 1.1em;
      margin-left: 1px;
      margin-right: 1px;
      text-align: center;
      border-radius: 4px;
      color: #ff4500; }
    .in-result .lucky-panel .luck-red .pull-right .lucky-number {
      position: relative;
      display: inline-block;
      left: -20px;
      border-radius: 1em;
      background: #fff;
      padding: 2px 1em;
      color: #ff4500; }
.in-result .tik {
  color: #ff4500;
  font-weight: 500; }
  .in-result .tik i {
    margin-right: 4px; }

/*# sourceMappingURL=styles.css.map */
