$p-item-border: #e8e8e8;
$p-item-border-hover: red;
$p-bar-bg: #eee;
$p-bar-color: #ff4500;
$p-bar: 6px;

$c-image: 120px;
$c-timer-down-color: #f40;
$c-time-expried: #999;
$s-waiting-sta-color: #FFD16F;

$n-nav-img-border: #e8e8e8;
$n-nav-img-border-hover: #999;
$n-nav-img-border-selected: #f90;

$n-red: #ff4500;
$n-blue: #06c;
$n-organ: #fdc103;

$height-input-dt: 26px;

$banner-size-width: 242px;

%font-size-h1{
  font-size: 24px;
}

%font-size-h2{
  font-size: 18px;
}

%font-size-h3{
  font-size: 16px;
}

%font-size-h4{
  font-size: 14px;
}

%font-size-h5{
  font-size: 13px;
}

%font-size-normal{
  font-size: 13px;
}

%item-row{
  display: block;
  height: 100%;

  border: $p-item-border solid 1px;

  &:hover {
    border: $p-item-border-hover solid 1px;
  }

  a[href] {

  }
}

%amimation-width{
  -webkit-transition: width 2s; /* Safari */
  transition: width 2s;
}

%item-available{
  position: relative;
  width: 100%;
  background: $p-bar-bg;
  height: $p-bar;
  border-radius: $p-bar;

  span {
    position: absolute;
    width: 100%;
    background: $p-bar-color;
    height: $p-bar;
    border-radius: $p-bar;

    @extend %amimation-width;
  }
}

%page-padding{
  padding-left: 20px;
  padding-right: 20px;
}

%banner-item{
  width: 242px;
  height: 372px;
}

%inline-banner{
  height: 372px;
}

%list-block{
  width: calc(100% - 242px);
}
