.counting-down{
  @extend %page-padding;
}

.c-item {
  @extend %item-row;
  padding: 12px;

  h5{
    font-size: 14px;
  }

  .c-detail{
    position: relative;
  }

  .c-detail-left{
    width: 100%;
    padding-right: $c-image + 24;
  }

  a.img {
    position: absolute;
    width: $c-image;
    height: $c-image;
    border: 1px #fff dashed;

    border-radius: 0;
    right: 12px;
    bottom: 12px;

    img[src]{
      width: 100%;
    }
  }

  .timer-down{
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    line-height: 22px;
    padding: 0 10px;
    border: 1px $c-timer-down-color dashed;
    color: $c-timer-down-color;

    &.expred{
      color: $c-time-expried;
    }
  }

  .waiting-sta{
    font-size: 22px;
    font-weight: bold;
    display: inline-block;
    line-height: 22px;
    padding: 0 10px;
    border: 1px $s-waiting-sta-color solid;
    background: $s-waiting-sta-color;
    border-radius: 4px;
    color: #fff;
  }
}