.in-result{
  //table{
  //  width: 100%;
  //}

  .lucky-panel{

    td{
      padding-left: 0;
      padding-right: 0;
    }

    .luck-red{
     background: $n-red;
      color: #fff;
      padding: 15px;

      .pull-left{
        width: 150px;
      }

      .pull-right{
        width: calc(100% - 150px);
        padding-left: 20px;

        p{
          list-style: decimal outside none;
          display:list-item;
        }

        .nm{
          display: inline-block;
          background: yellow;
          margin-left: 1px;
          margin-right: 1px;
          width: 1.42857143em;
          text-align: center;
          border-radius: calc(1.42857143em /2);
          color: $n-red;
        }

        .nw{
          display: inline-block;
          background: #fff;
          width: 1.1em;
          margin-left: 1px;
          margin-right: 1px;
          text-align: center;
          border-radius: 4px;
          color: $n-red;
        }

        .lucky-number{
          position: relative;
          display: inline-block;
          left: -20px;
          @extend %font-size-h3;
          border-radius: 1em;
          background: #fff;
          padding: 2px 1em;
          color: $n-red;
        }


      }
    }


  }

  .tik{
    i{
      margin-right: 4px;
    }
    color: $n-red;
    font-weight: 500;
  }
}