.item-collections {
  @extend %page-padding;
}

.p-item {
  @extend %item-row;
  padding-top: 3px;
  padding-bottom: 3px;

  img[src] {
    max-width: 100%;
  }

  .p-bar {
    @extend %item-available;
  }

  .p-persons {
    height: 40px;
    p {
      height: 100%;
      width: 50%;
    }
  }

  .p-btns {
    span {
      padding-left: 5px;
    }
  }
}
//
//@media screen and (min-width: 992px) {
//  .p-item{
//    width: 20%;
//  }
//}
//
//@media screen and (min-width: 768px) {
//  .p-item{
//    width: 25%;
//  }
//}
//
//@media screen and (max-width: 767px) {
//  .p-item{
//    width: 50%;
//  }
//}