
.colllections-container {
  position: relative;
  margin-bottom: 15px;
}

.session-items {
  .head {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    border-bottom: $p-item-border solid 1px;

    h3 {

      @extend %font-size-h3;
      position: relative;
      text-transform: uppercase;
      float: left;
      padding: 8px 16px;
      margin: 0;
      background: $n-red;
      color: #fff;

      &::after{
        content: "\f04b";

        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;

        position: absolute;
        left: 50%;
        bottom: -10px;
        color: $n-red;

        -ms-transform: rotate(90deg); /* IE 9 */
        -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
        transform: rotate(90deg);
      }
    }



    .btns {
      float: right;
      height: 33px;

      .nav-btn {
        display: inline-block;
        height: 100%;
        line-height: 32px;
        border: $p-item-border solid 1px;
        border-left-width: 0;
        border-bottom: none;
        padding-left: 8px;
        padding-right: 8px;
        float: left;

        &[disabled=true] {
          color: #333;
          cursor: default;
        }

        &:first-child {
          border-left-width: 1px;
        }

        i {
          font-size: 20px;
        }
      }
    }
  }

  .content {
    display: block;
    width: 100%;

    .p-item {
      padding: 15px;
      @extend %inline-banner;
      h5 {
        @extend %font-size-h5;
        height: 28px;
        font-weight: 400;


      }

      .img-item{
        display: block;
        margin: auto;
        text-align: center;

        a{
          height: 160px;
          display: inline-block;

          img[src]{
            height: 100%;
          }
        }
      }

      .p-persons {
        .pull-right {
          text-align: right;
        }
      }

      .p-btns {
        .btn {
          float: left;
          background: $n-red;
          border-radius: 0;
          color: #fff;
        }

        a {
          float: left;
          display: inline-block;
          margin-left: 15px;
          color: $n-red;

          i {
            line-height: 34px;
            font-size: 24px;
          }
        }
      }
    }
  }
}

.top-items {
  float: left;
  @extend %list-block;
}

.category-collections {
  float: right;
  @extend %list-block;
}

.lc-customers {
  width: 227px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  border: $p-item-border solid 1px;

  .head {
    border-bottom: $p-item-border solid 1px;

    h3 {
      font-size: 14px;
      padding: 8px 16px;
      height: 33px;
      margin: 0;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;
  }

  li {

    padding: 15px;

    &:nth-child(even) {
      background: #fff
    }
    &:nth-child(odd) {
      background: #ccc
    }

    .img, .info {
      display: block;
      float: left;
    }

    .info {
      padding-left: 10px;
      padding-right: 10px;
    }

    img[src] {
      width: 54px;
      height: 54px;
    }

    .name {
      display: block;
    }

    .ontime {
      display: block;
    }
  }
}

.banner-category{
  @extend %banner-item;

  img[src]{
width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {

}