.nav-collections {
  //@extend %page-padding;
  padding-left: 5px;
  padding-right: 5px;

  .nav-container {
    border: 1px $p-bar-bg solid;
    margin: 10px 0;
    .row{
      margin-left: 0;
      margin-right: 0;
    }
  }

  .nav-list-item {
    float: left;
    padding: 60px 0 20px;
    font-size: 13px;
    position: relative;
    text-align: center;
    width: 11%;
    border-left: 1px $p-bar-bg solid;

    i {
      font-size: 28px;
      color: #777;
    }
  }
}