%product-height {
  height: 100%;
}

@media screen and (max-width: 768px) {
  %product-height {
    min-height: 0;
    height: auto;
  }
}

%product-height-mobile {
  min-height: 0;
  height: auto;
}

.history-nav{
  height: 100%;
  padding-bottom: 1px;

  ul{
    list-style: none;
    margin: 0;
    padding-left: 0;

  }

  li{
    float: left;
    height: 38px;
    padding: 6px 12px;

    border-left: $p-item-border 1px solid;
    border-bottom:  $p-item-border 1px solid;;

    a{
      color: #000;
      cursor: pointer;
      text-decoration: none;
      display: inline-block;
      line-height: 26px;
      min-width: 46px;
      width: 100%;
    }

    &:last-child{
      border-right: $p-item-border 1px solid;
    }

    &.actived{
      background: $n-red;

      a{
        color: #fff;
      }
    }
  }
}

.n-product {
  margin-bottom: 20px;
  border-bottom: $p-item-border 1px solid;
  .n-picture {
    @extend %product-height;
    border: $p-item-border 1px solid;
    border-bottom-width: 0;
    border-right-width: 0;
    border-left-width: 0;

    .viewing {
      height: 300px;
      width: 100%;
      text-align: center;

      img[src] {
        height: 100%;
        max-width: 100%;
        vertical-align: middle;
        margin: auto;
      }
    }
  }

  .colorandpic {
    position: relative;
    display: block;
    padding: 0 15px;
    margin: 15px 0 0 0;
    text-align: center;

    li {
      display: inline-block;
      vertical-align: top;
      text-align: center;
      overflow: hidden;

      &:hover {
        div {
          border: $n-nav-img-border-hover 1px solid;
        }
      }

      &.selected {
        div {
          border: $n-nav-img-border-selected 1px solid;
        }
      }

      div {
        display: block;
        width: 46px;
        height: 46px;
        padding: 3px;

        border: $n-nav-img-border 1px solid;
        border-radius: 4px;

        img[src] {
          width: 100%;
          height: 100%;
        }
      }
    }
  }

  .n-detail {
    @extend %product-height;
    border: $p-item-border 1px solid;
    border-bottom-width: 0;

    h1{
      text-transform: uppercase;
      @extend %font-size-h1;
    }

    h2{
      font-weight: 400;
      @extend %font-size-h2;
    }

    p{
      @extend %font-size-normal;
    }

    .p-bar {
      @extend %item-available;

      height: 10px;
      border-radius: 10px;

      span {
        height: 10px;
        border-radius: 10px;
      }
    }

    .person {
      text-align: center;
      p {
        display: inline-block;
        line-height: 1.5;
      }

      .p1 {
        span {
          color: $n-red;
        }
      }

      .p3 {
        span {
          color: $n-blue;
        }
      }
    }

    .snum {
      padding-top: 12px;
      margin-bottom: 12px;

      span {
        line-height: $height-input-dt;
      }

      .spinner {
        float: left;
        padding-left: 12px;
        padding-right: 12px;
        input {
          float: left;
          text-align: center;
          max-width: 80px;
          height: $height-input-dt;
          border-radius: 0;
        }

        button {
          float: left;
          background: #f8f8f8;
          border: 1px #ddd solid;
          height: $height-input-dt;
          width: 30px;
          outline: none;
          font-size: 14px;
          font-weight: bold;
          color: #666;

          &.decrease {
            border-right: 0;
          }

          &.increase {
            border-left: 0;
          }
        }
      }

      .fast-select {
        float: left;
        a {
          float: left;
          display: inline;
          width: 56px;
          color: #000;
          height: $height-input-dt;
          line-height: $height-input-dt;
          border: 1px #ddd solid;
          text-align: center;
          margin: 0 10px 0 0;
          position: relative;
          text-decoration: none;

          &:hover {
            border: $n-red 1px solid;
            color: $n-red;
            text-decoration: none;
          }

          &.selected {
            border: $n-red 2px solid;

            &::after {
              position: absolute;
              width: 10px;
              height: 8px;
              background: url('../image/1234.png') no-repeat -187px -42px;
              right: 0;
              bottom: 0;
              content: "";
            }
          }
        }
      }
    }

    .n-btns {
      padding: 15px;

      .btn {
        padding: 8px 26px;
        font-size: 16px;
        margin: 3px 6px 3px 6px;
        border-radius: 70px;
        width: 180px;
        outline: none;

        background: #fff;
        border-color: #7fd611;
        border-width: 2px;

        &:hover{
          color: #fff;
          background: $n-red;
          border-color: $n-red;;
        }
      }
    }

    .brands {
      padding-bottom: 15px;
      span {
        padding: 0 10px;
      }
    }

    .guize {
      ol {
        padding-left: 25px;
      }
    }

    .c-dao {
      border: 1px #E4B9B9 dashed;
      background: #fffff0;
      padding: 15px 15px 0;
      border-radius: 5px;
      position: relative;

      .desc {
        padding: 0 0 0 5px;
        color: #d80;
      }

      .timer {
        font-size: 50px;
        line-height: 1;
        color: #DB3652;
        font-weight: bold;
        font-family: "microsoft yahei";
      }
    }

    .gongsi {
      border: 1px #ddd dashed;
      margin: 15px 0;
      background: #fff;
      border-radius: 5px;
      padding: 5px 10px 15px 10px;

      .n-title {
        b {
          color: #99cc66;
        }
      }

      .n-w {
        padding-left: 0;
        list-style: none;
        font-size: 12px;
        text-align: left;

        .fh {
          font-weight: bold;
          margin: 14px 4px 0 4px;
        }

        .x {
          border: 1px #ddd solid;
          border-radius: 10px;
          text-align: center;
          line-height: 16px;
          padding: 6px;

        }
      }

      li {
        //float: left;
        height: 43px;
        display: inline-block;

        span {
          color: #DB3652;
        }
      }
    }

    .n-oke {
      border: $n-red solid 1px;
      position: relative;
      border-radius: 6px;
      overflow: hidden;

      table{
        width: 100%;
      }

      td{
        //width: 50%;
        padding: 15px;
        vertical-align: top;

        &:first-child{
          width: 65%;
        }

        &:last-child{
          width: 35%;
        }
      }

      .num {
        margin: 25px 0 0;
        padding-left: 12px;
        float: right;
        width: 100%;
        text-align: right;
        border-left: 1px #ddd solid;

        .p{
          @extend %font-size-h3;
        }

        .p2 {
          font-size: 38px;
          line-height: 42px;
          color: #ff4500;
          font-weight: bold
        }
      }

      .luck {
        position: relative;

        > div{
          padding: 10px;
        }

        .bg{
          border-radius: 10px;
          border: $n-nav-img-border solid 1px;
        }

        .user {
          padding: 10px;
          height: 100px;
          width: 100px;
          float: left;

          .head {
            float: left;
            width: 80px;
            height: 80px;
            img[src] {
              float: left;
              width: 80px;
              height: 80px;
              border-radius: 100px;
            }
          }
        }

        .btn{
          background: #e6e6e6;
        }

        h4{
          @extend %font-size-h4;
        }
      }

      .win{
        position: absolute;
        background: $n-red;
        color: #fff;
        top: 25px;
        width: 160px;
        left: -45px;
        @extend %font-size-normal;

        text-align: center;
        text-transform: uppercase;
        padding-top: 4px;
        padding-bottom: 4px;

        -ms-transform: rotate(-45deg); /* IE 9 */
        -webkit-transform: rotate(-45deg); /* Chrome, Safari, Opera */
        transform: rotate(-45deg);
        text-align: center;
        //left: -50%;
      }
    }
  }
}

.n-content-product, .in-result {
  .nc-navs {
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;

    > .nc-title {
      line-height: 37px;
      border-bottom: $n-nav-img-border 1px solid;
      text-indent: 12px;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin-bottom: 0;

      li {
        padding: 12px;
        height: 94px;
        border-bottom: $n-nav-img-border 1px solid;

        &:last-child {
          border-bottom: none;
        }

        .img {
          float: left;
          width: 70px;
          height: 70px;

          img[src] {
            width: 100%;
            height: 100%;
          }
        }

        .desc {
          font-size: 13px;
          float: left;
          width: calc(100% - 80px);
          margin: 0 0 0 10px;

          .nc-title {
            a {
              color: #000;

              &:hover {
                color: $n-red;
              }
            }
          }
        }

        .p-bar {
          @extend %item-available;

          height: 10px;
          border-radius: 10px;

          span {
            height: 10px;
            border-radius: 10px;
          }
        }

        .nc-la {
          span {
            color: $n-blue;
          }
        }
      }
    }
  }

  .more-detail-tabs, .recomment-nav {
    .area{
      border: $p-item-border solid 1px;
      margin-bottom: 15px;

      .header{
        border-bottom: $n-red solid 2px;
        padding: 15px;

        box-shadow: -1px -2px 2px #888888;
      }

      .content{
        padding: 15px;
      }

      h3{
        text-transform: uppercase;
        margin: 0;
        @extend %font-size-h3;
      }

      ul{
        list-style: none;
        padding-left: 0;

        li{
          &::before{
            content: '-';
            padding-right: 7px;
          }
        }
      }

      img[src]{
        max-width: 80%;
        height: auto;
      }

      .img{
        text-align: center;
      }

      .map{
        margin-bottom: 15px;
      }

      .rating{
        width: 100%;

        td{
          padding: 3px 5px;
        }

        .rating-lable{
          text-align: right;
          width: 25%;
        }

        .rating-percent{
          span{
            height: 100%;
            display: block;
            width: 0;

            background: $n-organ;
            @extend %amimation-width;
          }
        }

        .rating-count{
          text-align: right;
          width: 10%;
        }
      }

    }

    .nav-tabs {
      li {
        width: 33.33%;
        text-align: center;

        a {
          border-radius: 0;
        }
      }

      padding-bottom: 10px;
      border-bottom: $n-red solid 1px;;
    }

    .tab-content {
      img[src] {
        max-width: 100%;
      }
    }
  }

  .recomment-nav{
    .area {
      .content {
        padding: 0;
      }

      .recomment{
        li{
          &::before{
            content: '';
            display: none;
          }
        }
      }
    }
  }
}

.n-product {
  .n-picture {
    float: left;
    vertical-align: top;
    width: 400px;
  }

  .n-detail {
    vertical-align: top;
    width: calc(100% - 400px);
  }
}

.n-content-product {
  .recomment-nav {
    width: 400px;
    float: left;
  }

  .more-detail-tabs {
    width: calc(100% - 400px);
    float: left;
    padding-left: 0;
  }
}

@media screen and (max-width: 992px) {
  .n-product {
    .n-picture {
      width: 320px;
    }

    .n-detail {
      width: calc(100% - 320px);

      .snum {
        .spinner {
          input {
            max-width: 45px;
          }
        }

        .fast-select {
          a {
            width: 45px;
          }
        }
      }

      .n-btns {
        .btn {
          width: calc((100% - 30px) / 2);
        }
      }

      .gongsi .n-w {

        text-align: right;
      }
    }
  }

  .n-content-product {
    .recomment-nav {
      width: 320px;
    }

    .more-detail-tabs {
      width: calc(100% - 320px);
    }
  }
}

@media screen and (max-width: 768px) {
  .n-product {
    .n-picture {
      width: 100%;
    }

    .n-detail {
      width: 100%;
      border-left-width: 0;
    }
  }

  .n-content-product {
    .recomment-nav {
      width: 100%;
    }

    .more-detail-tabs {
      width: 100%;
      padding-left: 0;
      padding-right: 0;
    }
  }

}